xml-resources/web-service-references/CentraleBankService/wsdl/graveyard.kicks-ass.net_8002/CentraleBankService/CentraleBankService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://BankServer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://BankServer/" name="CentraleBankService">
<types>
<xsd:schema>
<xsd:import namespace="http://BankServer/" schemaLocation="http://graveyard.kicks-ass.net:8002/CentraleBankService/CentraleBankService?xsd=1"/>
</xsd:schema>
</types>
<message name="NieuweBank">
<part name="parameters" element="tns:NieuweBank"/>
</message>
<message name="NieuweBankResponse">
<part name="parameters" element="tns:NieuweBankResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="nieuwebankrekening">
<part name="parameters" element="tns:nieuwebankrekening"/>
</message>
<message name="nieuwebankrekeningResponse">
<part name="parameters" element="tns:nieuwebankrekeningResponse"/>
</message>
<message name="toevoegentransactie">
<part name="parameters" element="tns:toevoegentransactie"/>
</message>
<message name="toevoegentransactieResponse">
<part name="parameters" element="tns:toevoegentransactieResponse"/>
</message>
<message name="bevestigTransactie">
<part name="parameters" element="tns:bevestigTransactie"/>
</message>
<message name="bevestigTransactieResponse">
<part name="parameters" element="tns:bevestigTransactieResponse"/>
</message>
<message name="getTransacties">
<part name="parameters" element="tns:getTransacties"/>
</message>
<message name="getTransactiesResponse">
<part name="parameters" element="tns:getTransactiesResponse"/>
</message>
<message name="getTransactiesLijst">
<part name="parameters" element="tns:getTransactiesLijst"/>
</message>
<message name="getTransactiesLijstResponse">
<part name="parameters" element="tns:getTransactiesLijstResponse"/>
</message>
<message name="CheckRekeningNummer">
<part name="parameters" element="tns:CheckRekeningNummer"/>
</message>
<message name="CheckRekeningNummerResponse">
<part name="parameters" element="tns:CheckRekeningNummerResponse"/>
</message>
<portType name="BankServer">
<operation name="NieuweBank">
<input wsam:Action="http://BankServer/BankServer/NieuweBankRequest" message="tns:NieuweBank"/>
<output wsam:Action="http://BankServer/BankServer/NieuweBankResponse" message="tns:NieuweBankResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://BankServer/BankServer/helloRequest" message="tns:hello"/>
<output wsam:Action="http://BankServer/BankServer/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="nieuwebankrekening">
<input wsam:Action="http://BankServer/BankServer/nieuwebankrekeningRequest" message="tns:nieuwebankrekening"/>
<output wsam:Action="http://BankServer/BankServer/nieuwebankrekeningResponse" message="tns:nieuwebankrekeningResponse"/>
</operation>
<operation name="toevoegentransactie">
<input wsam:Action="http://BankServer/BankServer/toevoegentransactieRequest" message="tns:toevoegentransactie"/>
<output wsam:Action="http://BankServer/BankServer/toevoegentransactieResponse" message="tns:toevoegentransactieResponse"/>
</operation>
<operation name="bevestigTransactie">
<input wsam:Action="http://BankServer/BankServer/bevestigTransactieRequest" message="tns:bevestigTransactie"/>
<output wsam:Action="http://BankServer/BankServer/bevestigTransactieResponse" message="tns:bevestigTransactieResponse"/>
</operation>
<operation name="getTransacties">
<input wsam:Action="http://BankServer/BankServer/getTransactiesRequest" message="tns:getTransacties"/>
<output wsam:Action="http://BankServer/BankServer/getTransactiesResponse" message="tns:getTransactiesResponse"/>
</operation>
<operation name="getTransactiesLijst">
<input wsam:Action="http://BankServer/BankServer/getTransactiesLijstRequest" message="tns:getTransactiesLijst"/>
<output wsam:Action="http://BankServer/BankServer/getTransactiesLijstResponse" message="tns:getTransactiesLijstResponse"/>
</operation>
<operation name="CheckRekeningNummer">
<input wsam:Action="http://BankServer/BankServer/CheckRekeningNummerRequest" message="tns:CheckRekeningNummer"/>
<output wsam:Action="http://BankServer/BankServer/CheckRekeningNummerResponse" message="tns:CheckRekeningNummerResponse"/>
</operation>
</portType>
<binding name="BankServerPortBinding" type="tns:BankServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="NieuweBank">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nieuwebankrekening">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="toevoegentransactie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bevestigTransactie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransacties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactiesLijst">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckRekeningNummer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CentraleBankService">
<port name="BankServerPort" binding="tns:BankServerPortBinding">
<soap:address location="http://graveyard.kicks-ass.net:8002/CentraleBankService/CentraleBankService"/>
</port>
</service>
</definitions>